{% extends 'HerzultForumBundle::layout.html.twig' %}
{% block title %}New Reply{% endblock %}
{% block content %}
<div class="forum  post_new">
    <ul class="crumbs">
        <li><a href="{{ path('herzult_forum_index') }} ">Forum</a></li>
        <li><a href="{{ forum_urlForCategory(topic.category) }}">{{ topic.category.name }}</a></li>
        <li><a href="{{ forum_urlForTopic(topic) }}">{{ topic.subject }}</a></li>
        <li>New Reply</li>
    </ul>
    <div class="main">
        <h2>New Reply</h2>
        <form action="{{ url('herzult_forum_topic_post_create', { 'slug': topic.slug, 'categorySlug' : topic.category.slug }) }}" method="post">
            {{ form_widget(form) }}
            <div>
                <button type="submit" name="reply">Add post</button>
            </div>
        </form>
    </div>
    <div class="side">
        <p><a href="{{ forum_urlForTopic(topic) }}">Back to the topic</a></p>
    </div>
</div>
{% endblock %}
