{% extends 'HerzultForumBundle::layout.html.twig' %}
{% block content %}
<div class="forum post_new">
    <div class="main">
        <h2>{{'action.post.create' | trans({} , 'HerzultForumBundle')}}</h2>
        <form action="{{ url('herzult_forum_topic_post_create', { 'slug': topic.slug, 'categorySlug' : topic.category.slug }) }}" method="post">
            {{ form_widget(form) }}
            <div>
                <button type="submit" name="reply">{{'action.create' | trans({} , 'HerzultForumBundle')}}</button>
            </div>
        </form>
    </div>
    <div class="side">
        <p><a href="{{ forum_urlForTopic(topic) }}">{{'post.backToTopic' | trans({} , 'HerzultForumBundle')}}</a></p>
    </div>
</div>
{% endblock %}
