{% if pager.pageCount %}
<p class="pagination">
    {% if pager.previous is defined %}
    <a class="previous" href="{{ url }}?page={{ pager.previous }}">&laquo; Previous</a>
    {% else %}
    <span class="previous inactive">&laquo; Previous</span>
    {% endif %}
    {% for page in pager.pagesInRange %}
    {% if page == pager.current %}
    <span class="page current">{{ page }}</span>
    {% else %}
    <a class="page" href="{{ url }}?page={{ page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}
    {% if pager.next is defined %}
    <a class="next" href="{{ url }}?page={{ pager.next }}">Next &raquo;</a>
    {% else %}
    <span class="next inactive">Next &raquo;</span>
    {% endif %}
</p>
{% endif %}
