<ul class="forum_topics_list">
{% for topic in topics %}
    <li class="topic">
        <div class="content">
            <a class="subject" href="{{ forum_urlForTopic(topic) }}">{{ topic.subject }}</a>
        </div>
        <div class="metas">
            <span class="creation">Created <span class="createdAt">{{ topic.createdAt|date }}</span> by
            <span class="author">{{ topic.authorName }}</span>
            | <span class="numPosts">{{ topic.numPosts }} {{ topic.numPosts > 1 ? 'posts' : 'post' }}</span>
            | <a class="category" href="{{ forum_urlForCategory(topic.category) }}">{{ topic.category.name }}</a>
        </div>
    </li>
{% endfor %}
</ul>

{% if category %}
{{ pagerfanta(topics, 'default', pagerOptions|merge({'proximity': 3})) }}
{% endif %}
