<ul class="forum_topics_list">
{% for topic in topics %}
    <li class="topic">
        <div class="content">
            <a class="subject" href="{{ forum_urlForTopic(topic) }}">{{ topic.subject }}</a>
        </div>
        <div class="metas">
            <span class="creation">{{'forum.createdBy' | trans({'%date%': topic.createdAt|date, '%user%': topic.authorName}, 'HerzultForumBundle')}}</span>
            | <span class="numPosts">{{'topic.postCount' | transchoice(topic.numPosts, {'%count%': topic.numPosts}, 'HerzultForumBundle')}}</span>
            | <a class="category" href="{{ forum_urlForCategory(topic.category) }}">{{ topic.category.name }}</a>
        </div>
    </li>
{% endfor %}
</ul>

{% if category %}
{{ pagerfanta(topics, 'default_translated', pagerOptions|merge({'proximity': 3})) }}
{% endif %}
