{% for topic in topics %}
    <entry>
        <title>{{ topic.getSubject() }}</title>
        <author>{{ topic.getAuthor() ? : 'Anonymous' }}</author>
        <updated>{{ topic.getPulledAt().format('c') }}</updated>
        <id>{{ _view.forum.urlForTopic(topic, true) }}</id>
        <link rel="alternate">{{ _view.forum.urlForTopic(topic, true) }}</link>
    </entry>
{% endfor %}
