{% extends 'HerzultForumBundle::layout.html.twig' %}
{% block content %}
<div class="forum forum_topic">
    <div class="main topic">
        <h2>{{ topic.subject }}</h2>
        <a href="{{ forum_urlForTopicAtomFeed(topic) }}" title="Atom feed" class="feed atom">Atom feed</a>
        {% include 'HerzultForumBundle:Post:list.html.twig' with {'posts': posts} %}
        {{ pagerfanta(posts, 'default_translated', {'proximity': 3}) }}
    </div>

    <div class="side menu">
        <a href="{{ forum_urlForTopicReply(topic) }}">{{'action.post.create' | trans({} , 'HerzultForumBundle')}}</a>
    </div>

</div>
{% endblock %}
