{% extends 'ForumBundle::layout.twig' %}
{% block title %}{{ topic.subject}}{% endblock %}
{% block content %}
<div class="forum forum_topic">

    <ul class="crumbs">
        <li><a href="{{ _view.forum.urlForIndex() }}">Forum</a></li>
        <li><a href="{{ _view.forum.urlForCategory(topic.category) }}">{{ topic.category.name }}</a></li>
        <li>{{ topic.subject }}</li>
    </ul>

    <div class="main topic">
        <h2>{{ topic.subject }}</h2>
        <a href="{{ _view.forum.urlForTopicAtomFeed(topic) }}" title="Atom feed" class="feed atom">Atom feed</a>
        {% include 'ForumBundle:Post:list.twig' with ['posts': posts] %}
        {% include 'ForumBundle::pagination.twig' with ['pager': posts.pages, 'url': _view.forum.urlForTopic(topic)] %}
    </div>

    <div class="side menu">
        <a href="{{ _view.forum.urlForTopicReply(topic) }}">Add a New Reply</a>
    </div>

</div>
{% endblock %}
